@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
/* font declaration : font-family: 'Heebo', sans-serif;  */

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    
}

/***************************************************************************************************************/
/********************************************* GESTION NAVBAR **************************************************/
/***************************************************************************************************************/


nav{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
#logoafpa{
    width: 12vw;
}


nav .logo {
    width: 2vw;
    height: 2vw;
    margin-right: 5vw;
}
nav  a {
    font-size: 3vw;
    color:  #87bb34;
    margin-top: 1%;
}
nav  boutton{
    font-size: 2.5vw;
    margin: 1%;
    background-color:  #87bb34;
    padding: 1%;
    color: white;
}




main{
    position: relative;
}



#ban_title{
    overflow: hidden;
    position: absolute;
    top: 0;
    overflow: hidden;
    margin-top: 7vw;
    z-index: -1;
    opacity: 0.7;

}



h1{
    font-size: 7vw;
    background-image: url("images/code_pexel.jpeg");
    color: rgb(255, 255, 255);
    z-index: 0;
    margin-bottom: 0px;
    text-align: center;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-size: fill;
    color: transparent;
    font-variant: small-caps;

}

/***** settings for all h2 */ 

h2{
    font-family: 'Heebo', sans-serif;
    font-size: 2vh;
    margin: 1%;
}
/***************************************************************************************************************/
/********************************************* GESTION SECTION formation_details *******************************/
/***************************************************************************************************************/


#formation_details {
    padding-top: 30vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#formation_details summary{
background-color: #87bb34;
color: white;
padding: 2%;
list-style: none;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#formation_details details{
    text-align: justify;
    display: flex;
}
#formation_details aside{
    background-color: #87bb34;
    padding: 2%;
    text-align: justify;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#formation_details details p {
    padding: 3%;
}

#formation_details details img {
    width: 100vw;
    padding-bottom: 3%;
}

#formation_details details li {
    padding: 5%;
    list-style: none;
}


#formation_details aside p{
    padding: 2%;
}



/***************************************************************************************************************/
/**************************************** GESTION SECTION infos complémentaires  *******************************/
/***************************************************************************************************************/

#info_complementaires{
    padding: 2%;
    margin-top: 3%;
}

#info_complementaires article{
 border: 1px solid black;
 margin-bottom: 2%;
 height: 330px;

}
#info_complementaires aside{
    border: 1px solid black;
    margin-bottom: 2%;
    height: 330px;
}


/***************************************************************************************************************/
/**************************************** GESTION SECTION formulaire  ******************************************/
/***************************************************************************************************************/


#formulaire{
    background-color: #87bb34;
    color: white;
    padding: 2%;
    margin-top: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#formulaire input{
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    border: none;
}

#formulaire input[type=submit]{
    color: #87bb34;
    width: 92%;
    
}

/***************************************************************************************************************/
/**************************************** GESTION FOOTER  ******************************************************/
/***************************************************************************************************************/
footer{
    margin-top: 3%;
    margin-bottom: 3%;
}

footer h2{
    text-align: center;
    margin-bottom: 2%;
}

footer  .socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer .fa-brands {
font-size: 30px;
color: #c40b86;

}

footer boutton{
    margin-right: 2%;
}

footer p {
    color: #c40b86;
    text-align: justify;
    padding: 5%;
}

footer a{
    font-size: 12px;
    color: #87bb34;
    font-variant: small-caps;
}



/***************************************************************************************************************/
/**************************************** GESTION MEDIA QUERIES  ***********************************************/
/***************************************************************************************************************/

/***************************************************************************************************************/
/**************************************** GESTION MEDIA QUERIES  tablette **************************************/
/***************************************************************************************************************/

@media screen and  (min-width: 768px ){

    main{
        font-size: 18px;
    }

    #info_complementaires{
        display: flex;
        justify-content: space-between;
    }
    #info_complementaires aside{
        width: 60%;
    }

}

@media screen and  (min-width: 1024px ){
    main{
        font-size: 24px;
    }
    #info_complementaires aside{
        width: 80%;
    }

    footer{
        display: flex;
    }

    footer article{
        border-right: #87bb34 1px solid ;
    }

    footer a {
        padding-top: 5vw;
        margin: 2%;}


}